### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# display total number of players
unique_sn = len(purchase_data["SN"].unique())

# put total players in dataframe
total_players_df = pd.DataFrame({"Total Players": [unique_sn]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#format dataframe
pd.options.display.float_format = '${:,.2f}'.format

#number of unique items

unique_items = purchase_data["Item Name"].nunique()

# average price of unique items
average_price = purchase_data["Price"].mean()

# find total number of purchases
index = purchase_data.index
total_purchases = len(index)

# total revenue of all purchases
total_revenue = purchase_data["Price"].sum()

# create purchasing analysis dataframe
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items], 
                                       "Average Price": [average_price],
                                      "Number of Purchases": [total_purchases],
                                      "Total Revenue": [total_revenue]})

purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# format dataframe
pd.options.display.float_format = '{:,.2f}%'.format

# drop duplicate male and female entries
gender_df = purchase_data.drop_duplicates("SN")

# find number of male and female and nd players
gender_demo = gender_df["Gender"].value_counts()

# unique_sn = total number of players

# gender_demo
gender_df = pd.DataFrame({"Gender": gender_demo, 
                          "Percentage": ((gender_demo/unique_sn)*100)})
gender_df

                       Gender  Percentage
Male                      484      84.03%
Female                     81      14.06%
Other / Non-Disclosed      11       1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#format dataframe
pd.options.display.float_format = '${:,.2f}'.format

# number of purchases by gender 
gender_counts = purchase_data["Gender"].value_counts()

#create dataframe with relevant gender and purchase data
clean_gender_df = purchase_data[["Gender", "Price"]]

# set gender to index
gender_pa_df = clean_gender_df.set_index("Gender")

#set df variables 
male_purchases = gender_pa_df.loc["Male", "Price"]
total_male_purchases = male_purchases.sum()
avg_val_male_purchases = male_purchases.mean()
avg_purchase_per_male = total_male_purchases/gender_demo["Male"]

female_purchases = gender_pa_df.loc["Female", "Price"]
total_female_purchases = female_purchases.sum()
avg_val_female_purchases = female_purchases.mean()
avg_purchase_per_female = total_female_purchases/gender_demo["Female"]

nd_purchases = gender_pa_df.loc["Other / Non-Disclosed", "Price"]
total_nd_purchases = nd_purchases.sum()
avg_val_nd_purchases = nd_purchases.mean()
avg_purchase_per_nd = total_nd_purchases/gender_demo["Other / Non-Disclosed"]

# build dataframe
gender_df = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"],
                          "Purchase Count": [gender_counts["Female"], gender_counts["Male"], gender_counts["Other / Non-Disclosed"]],
                          "Average Purchase Price": [avg_val_female_purchases, avg_val_male_purchases, avg_val_nd_purchases],
                          "Total Purchase Value": [total_female_purchases, total_male_purchases, total_nd_purchases],
                          "Average Purchase per Person": [avg_purchase_per_female, avg_purchase_per_male, avg_purchase_per_nd]})

gender_df_final =gender_df.set_index("Gender")

gender_df_final

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# format dataframe
pd.options.display.float_format = '{:,.2f}%'.format

# create df for relevant data
age_demo = purchase_data[["Age", "SN"]]

# drop dupliate data
age_demo_clean = age_demo.drop_duplicates("SN")

# assign bins 
age_clean = age_demo_clean[["Age"]]
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_clean["Bins"] = pd.cut(age_demo["Age"], bins, labels=group_names, include_lowest=True)

# set index to bins
age_demo_index = age_clean.set_index("Bins")
age_demo_index

# count ages in bins 
age_demo_counts = age_demo_index.groupby("Bins").count()
age_demo_counts

# build dataframe 
age_pa_df = pd.DataFrame({"": group_names,
                            "Total Count": (age_demo_counts["Age"]), 
                            "Percentage of Players": (age_demo_counts["Age"]/unique_sn)*100})

# set index to bins
age_pa_df_final = age_pa_df.set_index("")
age_pa_df_final

       Total Count  Percentage of Players

<10             17                  2.95%
10-14           22                  3.82%
15-19          107                 18.58%
20-24          258                 44.79%
25-29           77                 13.37%
30-34           52                  9.03%
35-39           31                  5.38%
40+             12                  2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# format dataframe
pd.options.display.float_format = '${:,.2f}'.format

# clean dataframe for relevant data
age_pa = purchase_data[["Age", "Price"]]

# sort data into bins
age_pa["Bins"] = pd.cut(age_pa["Age"], bins, labels=group_names, include_lowest=True)

# set index to bins
age_pa = age_pa.set_index("Bins")

# groupby bins to count data by age
age_pa_counts = age_pa.groupby("Bins").count()

# groupby bins to average price by age
age_pa_avg = age_pa.groupby("Bins").mean()

# groupby bins to find total value spent price by age
age_pa_sum = age_pa.groupby("Bins").sum()

# build dataframe
age_pa_df = pd.DataFrame({"Age Ranges": group_names, 
                          "Purchase Count": (age_pa_counts["Age"]), 
                          "Average Purchase Price": age_pa_avg["Price"],
                          "Total Purchase Value": age_pa_sum["Price"],
                          "Average Total Purchase per Person": (age_pa_sum["Price"]/(age_demo_counts["Age"]))})

# set index to age ranges
age_pa_df = age_pa_df.set_index("Age Ranges")
age_pa_df

/Users/catherineluquire/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# build dataframe with relevant data
spenders_df = purchase_data[["SN", "Price"]]
spenders_df

#to get top spender info
spenders_combined_df = spenders_df.groupby(["SN"]).sum()["Price"]

# to get spender purchase count
spenders_count = spenders_df.groupby(["SN"]).count()["Price"]

# build spenders dataframe
spenders_df_values = pd.DataFrame({"Purchase Count": spenders_count, 
                                  "Average Purchase Price": (spenders_combined_df/spenders_count),
                                  "Total Purchase Value": spenders_combined_df})

# sort dataframe by max purchase value for top spenders
spenders_final = spenders_df_values.sort_values(by='Total Purchase Value', ascending=False)
spenders_final.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
# create dataframe with relevant data
pop_items = purchase_data[["Item ID", "Item Name", "Price"]]
pop_items

# groupby item name and ID
pop_items_group = pop_items.groupby(["Item ID", "Item Name"])
pop_items_group.head()

#find total item count
item_count = pop_items_group["Item Name"].count()
item_count

# find total $ spend on items
total_values = pop_items_group["Price"].sum()
total_values

# find average purchase price per item
item_price = pop_items_group["Price"].mean()
item_price

# build dataframe
pop_items_df = pd.DataFrame({"Purchase Count": item_count,
                             "Item Price": item_price,
                             "Total Purchase Value": total_values})

# sort by the number of time item purchased
pop_items_final = pop_items_df.sort_values(by='Purchase Count', ascending=False)
pop_items_final.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
# reuse dataframe from above
pop_items_df

# sort dataframe by total purchase value
profitable_items = pop_items_df.sort_values(by='Total Purchase Value', ascending=False)
profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80